/* ******* COMMON CSS STRAT**** */

h1,h2,h3,h4,h5,h6,body,p{
    font-family: 'Spartan', sans-serif;
}
a{
    text-decoration: none;
}

/* ****COMMON CSS END*** */
/* *****HEADER NAVBAR STRAT***** */
.navver-menu{
    background-color: #e7e6e6;
    
}
 .logo {
      width: 100px !important;
      max-width: 100%;
      overflow: hidden;
  }
  .header-menu{
  
  }
  .header-menu  li .home {
      color: #0d6efd !important;
      position: relative;
  }
  .header-menu  li a{
      position: relative;
     
  }
  .header-menu  li a::before{
    content: "";
    position: absolute;
    width: 0%;
    height: 13%;
    top: 195%;
    left: -9px;
    background-color: #0d6efd;
    transition: .3s;
}
.header-menu  li  a:hover::before{
    width: 128%;
}
  .header-menu  li .home::before {
    content: "";
    position: absolute;
    width: 128%;
    height: 13%;
    top: 195%;
    left: -9px;
    background-color: #0d6efd;
}

  .header-menu li{
      display: inline-block;
      padding: 0px 20px;

  }
  .header-menu li a{
      color: #000;
      font-weight: 500;
  }
  .header-menu li{
      position: relative;
  }
  .header-menu li ul {
    position: absolute;
    top: 222%;
    left: -26px;
    width: 200px;
    height: 100px;
    background-color: #fff;
    display: inline-block;
    display: flex;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: .5s;

  
}
.header-menu li:hover ul{
 opacity: 1;
 visibility: visible;
}
  .header-menu li ul li{
      padding: 20px 10px ;
      background-color: blue;
      display: inline-block;
 
  }
  .header-menu li ul li a{
  color: #fff;
  }
  .header-menu li a:hover{}


  .custom-btn a {
    width: 180px;
    display: inline-block;
    background-color: #fff;
    padding: 10px;
    border-radius: 50px;
    color: blue ;
    font-weight: 600;
    position: relative;
    transition:.5s ;
    z-index: 1;
    overflow: hidden;
}
.custom-btn a::after{
    content: "";
    position: absolute;
    width: 0;
    height:100% ;
    background-color: blue ;
    color: #fff !important;
    top: 0;
    left: 0;
    border-radius: 50px;
    transition: .5s !important;
    z-index: -1;
 
}
.custom-btn a:hover::after{
    width: 100%;
    
}
  .custom-btn a:hover{
      color: #fff !important;
  }
/* *****HEADER NAVBAR STRAT***** */
/* ****BANNER PRAT STRAT***** */
.banner{
  background-color: #edf6ff;
  overflow: hidden;
}
.banner-content{
    padding: 0px 76px!important;
}
.banner-content h2{
    margin: 34px 0;
    font-weight: 600;
    font-size: 40px;
}
.banner-content p{}
.banner-content a{
    border-radius: 50px;
    margin: 23px 0;
    border: 1px solid blue;
    transition: .5s;
    padding: 12px 23px ;
}
.banner-content a:hover{
    border: 1px solid blue;
    background-color: #fff;
    color: #0d6efd;

}
.banner-image{}
.inner-img {
    height: 600px;
    width: 600px;
    top: -47px;
    left: 200px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}
.inner-img img{
width: 100%;
height: 100%;
}
/* ****BANNER PRAT END***** */
/* <!-- ========== Service Section Section ========== --> */
.service-container{}
.service-container h6{}
.service-container h1{
    margin: 29px 0;
}
.service-container .tools{
    position: relative;
    margin: 29px 0;
}
.service-container .tools::before {
    content: "";
    position: absolute;
    width: 6%;
    height: 3px;
    background-color: #0d6efd;
    top: 59px;
    left: 3px;
}
.service-container p{
    font-size: 16px;
    max-width: 600px;
    margin-top: 37px;
}
/* ******* SERVICE BOX STRAT**** */
  .service-box{
    padding: 21px 21px;
    transition: .6s;
  }
.service-box:hover{
    background-color: #0d6efd !important;
    color: #fff;


}
  .service-header{
    margin: 14px 0;
}
  .service-header h5{}
  .service-icon{}
  .service-box:hover .service-icon span{
      background-color: #edf6ff;
      color: #0d6efd;
  }
  .service-box:hover .service-icon span::before{
    background-color: #edf6ff;
    color: #0d6efd;
}
  .service-icon span{
    display: inline-block;
    width: 45px;
    height: 45px;
    background-color: blue;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 20px;
    border-radius: 50% 50% 50% 0;
    margin: 18px 0;
    position: relative;
    transition: .5s;
}
  .service-icon span::before{
      content: "";
      height: 3px;
      width: 70%;
      background-color: #0d6efd;
      position: absolute;
      top: 125%;
      left: 0;
  }
  .service-footer{}
  .service-footer{}
  .service-footer p{
      margin: 10px 0;
  }

 /* <!-- ========== Service Section Section ========== --> */
 /* ******* ANIMATION SECTION STRAT****** */
   .animation{
        background: linear-gradient(rgba(76, 81, 151, 0.26), rgba(64, 67, 133, 0.336) ) , url(./img/video-bg.jpg) no-repeat center;
        background-size: cover;
        padding: 220px;
        width: 100%;
        height: 100vh;
        color: #fff;
       
   }

   .inner-animation{
    text-align: center;
   }
   .inner-animation h3{
    font-size: 20px;
    margin: 9px 0;
}
   .inner-animation h2{
       position: relative;
   }
   .inner-animation h2::before{
       position: absolute;
       content: "";
       width: 10%;
       height: 3px;
       background-color: #fff;
       top: 135%;
       left: 42%;
   }
   .inner-animation p{
    max-width: 600px;
    margin: auto;
    margin: 35px 177px;
}
   .main-animation{}
   .main-animation span{
     width: 70px;
     height: 70px;
    display: inline-block;
    background-color: #fff;
    text-align: center;
    line-height: 70px;
    color: #0d6efd;
    font-size: 25px;
    border-radius: 50%;
    position: relative;

   }
     .main-animation span i{
         position: relative;
         left: 2px;
     }
     .main-animation span::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 50%;
        border: 1px solid #fff;
        animation: shipon 3s ease-in-out infinite;

     }
     @keyframes shipon{
         0%{
          transform: scale(1);
         }
         50%{
           transform: scale(1.5);
         }
         100%{
        transform: scale(2);
        opacity: 0;
         }
     }

     .main-animation span::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 50%;
        border: 1px solid #fff;
        animation: shipon2 3s ease-in-out infinite;

     }

     @keyframes shipon2{
        0%{
         transform: scale(1);
        }
        50%{
          transform: scale(2);
        }
        100%{
       transform: scale(2.5);
       opacity: 0;
        }
    }
 /* ******* ANIMATION SECTION END****** */



